<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgrapp.dao.TopicMapper">
    <select id="getPage" resultType="java.util.Map">
        select
        id, problem, answer, summary, classId, lastUpdateTime
        from func_topic t
        <where>
            <if test="ew.problem != null and ew.problem != ''">
                MATCH(problem, answer) AGAINST( #{ ew.problem } IN NATURAL LANGUAGE MODE )
            </if>
            <if test="ew.classId != null and ew.classId != ''">
                and classId = #{ ew.classId }
            </if>
        </where>
        order by lastUpdateTime desc
    </select>
    <select id="getList" resultType="com.fgrapp.domain.FuncTopicDo">
        select
            id, problem, classId, lastUpdateTime
        from func_topic
        order by lastUpdateTime desc
    </select>
</mapper>